body {
  margin: 0;
  font-family: 'Playtone One','Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* 
font-family: 'Alfa Slab One', cursive;
font-family: 'Open Sans', sans-serif;
font-family: 'Paytone One', sans-serif;
font-family: 'Shadows Into Light', cursive; 
font-family: 'Ubuntu', sans-serif;
*/